# Vite build output
dist/

# Dependency directory
node_modules/

# dotenv files
.env
.env.*

# IDE stuff
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store

# Git conflict files
*.orig

# 👇 Exclude constants.js
src/utils/constants.js
